header{color: rgb(59, 8, 53);}
body {background-color: rgb(219, 179, 209);
  color: rgb(0, 0, 0);
}
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 50%;
}
h1 {
    text-align: center;
    border: 5px solid rgb(213, 14, 133);
  }
  p {
    text-align: center;
    border: 3px solid rgb(213, 14, 133);
  }  
  h2{text-align: center;}
  h3{text-align: center;}

  table,
  td {
      border: 1px solid #333;
  }
  
  thead,
  tfoot {
      background-color: #333;
      color: #fff;
  }

  div.container{
    text-align: center;
  }
  ul.schoolUL{
    display: inline-block;
    text-align: left;
  }
  
.mycontactlist{
  text-align: center;
}
.EmailLink{
  text-align: center; /* not working */
}
